<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/font.css">
    <script src="../libs/gsap/gsap.min.js" ></script>
    <script src="../libs/gsap/ScrollTrigger.min.js" ></script>
    <script src="../libs/gsap/ScrollSmoother.min.js" ></script>
    <title>Document</title>
</head>
<body>
    <section class="section__img">
        <img src="../img/lol.jpg" alt="" class="item-img " style="top: 0vh;">
        <img src="../img/lol.jpg" alt="" class="item-img " style="top: 35vh;">
        <img src="../img/lol.jpg" alt="" class="item-img " style="top: 70vh;">
        <img src="../img/lol.jpg" alt="" class="item-img " style="top: 105vh;">
        <img src="../img/lol.jpg" alt="" class="item-img items__video" style="top: 140vh;">
        <img src="../img/lol.jpg" alt="" class="item-img " style="top: 175vh;">
        <img src="../img/lol.jpg" alt="" class="item-img " style="top: 210vh;">

    </section>
    <script src="../js/start_effect.js"></script>
</body>
</html>